extends layout

block content
    .cell.is-fullheight(style="height: 95.7vh;")
        // Sidebar
        .columns.is-8.m-1(style="height: 100%; width: 100vw")
            include channels_sidebar.pug
            .column(style="display: flex; flex-direction: column; flex-grow: 1;")
                include user_settings.pug
                include reply.pug
                // Main section
                section.main(style="flex-grow: 1; overflow-y: auto;")
                    label.label= channel.dataValues.name
                    // Add your thread content here
                    each thread in threads
                        div.thread(style="border: 1px solid hsl(0, 0%, 14%); border-radius: 5px; padding: 10px; margin-bottom: 10px;")
                            div(style="display: flex; align-items: center;")
                                if !thread.dataValues.user.picture
                                    i.bi.bi-person-circle(style="font-size: 28px; margin-right: 10px;")
                                else
                                    - let imageSrc = `data:image/jpeg;base64,${thread.dataValues.user.pictureBase64}`;
                                    img.profile-picture(src=imageSrc, alt="Profile Picture", style="border-radius: 50%; width: 28px; height: 28px; margin-right: 10px;")
                                b= thread.dataValues.user.displayName || thread.dataValues.user.uuid
                                span(style="margin-left: 5px; font-size: 12px; color: gray; display: inline-block; width: 80%;")= thread.dataValues.createdAt
                            p= thread.dataValues.message
                            i.bi.bi-reply#reply-button(data-thread-id=thread.dataValues.id style="margin-right: 5px; cursor: pointer;")
                            i.bi.bi-emoji-smile#smile-button(data-thread-id=thread.dataValues.id style="margin-right: 5px; cursor: pointer;")
                            span=thread.dataValues.childCount > 0 ? `${thread.dataValues.childCount} replies`  : ''
                section.message(style="flex-shrink: 0;") 
                    form#addthread
                        textarea.has-background-black-ter(name="message" placeholder="Enter your message" style="height: 5rem; width: 100%; border: 1px solid hsl(0, 0%, 14%); border-radius: 5px;") 
                        input(type="hidden" name="channel" value=channel.dataValues.name)
                        button(type="submit")
                            i.bi.bi-send
                            | Send
    script(src="/channels.js")