extends layout

block content
    .cell.is-fullheight(style="height: 95.7vh;")
        // Sidebar
        .columns.is-8.m-1(style="height: 100%; width: 100vw")
            include channels_sidebar.pug
            .column
                include user_settings.pug
                // Main section
                section.main
                    label.label Threads
                    // Add your thread content here
                    each thread in threads
                        div.channel.has-background-grey-darker(style="border: 1px solid hsl(0, 0%, 21%); border-radius: 5px; padding: 10px; margin-bottom: 10px;")
                            b: a(href=`/channel/${thread.dataValues.channel}`)!=  '#' + thread.dataValues.channel
                            div.thread.has-background-black-ter(style="border: 1px solid hsl(0, 0%, 14%); border-radius: 5px; padding: 10px; margin-bottom: 10px;")
                                div(style="display: flex; align-items: center;")
                                    if !thread.dataValues.user.picture
                                        i.bi.bi-person-circle(style="font-size: 28px; margin-right: 10px;")
                                    else
                                        - let imageSrc = `data:image/jpeg;base64,${thread.dataValues.user.pictureBase64}`;
                                        img.profile-picture(src=imageSrc, alt="Profile Picture", style="border-radius: 50%; width: 28px; height: 28px; margin-right: 10px;")
                                    b= thread.dataValues.user.displayName || thread.dataValues.user.uuid
                                    span(style="margin-left: 5px; font-size: 12px; color: gray; display: inline-block; width: 80%;")= thread.dataValues.createdAt
                                p= thread.dataValues.message
                                i.fa.fa-reply(style="margin-right: 5px;")
    script(src="/channels.js")